################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/logs
/database_interfaces/__pycache__
/data_objects/__pycache__
/excel_interfaces/__pycache__
/helpers/__pycache__
/__pycache__
*.sqlite
