{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-3">Transport kompas</h1>
    <p>
        Welkom bij het Transport Kompas. Dit is een tool die gemaakt is
        door het lectoraat Supply Chain Innovation van de HZ University of Applied Sciences.
    </p>
    <p>
        Het doel van deze tool is om logistieke ondernemers inzicht te geven in de overstap
        naar Zero Emission voertuigen. Dit zijn voertuigen die zelf geen CO2 uitstoten.
        Bijvoorbeeld: elektrische en waterstof auto's.
    </p>
    <h2 class="text-center mb-3">Documentatie</h2>
    <p>
        De technische documentatie van de tool is op de <a href="/documentation">documentatie</a> pagina te vinden.
    </p>
{% endblock content %}